<div class="row">
  <div class="col-md-12">
  
    <!--Conversations Panel-->
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="conversation-panel text-center">
          <h3>Your Conversations</h3>
        </div>
        <div class="text-center">
          <% if @conversations.any? %>
              <ul class="media-list">
                <% @conversations.each do |conversation| %>
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                        <li class="media">
                          <div class="media-body">
                            <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                            <%= image_tag("http://placehold.it/50x50", class: "media-object") %>
                            <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
                            <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                          </div>
                        </li>
                      </div>
                    </div>
                <% end %>
              </ul>
          <% else %>
              <p>You have no conversations. Click send message with any user to create one.</p>
          <% end %>
        </div>
      </div>
    </div>
    
    <!--Community Table-->
    <div class="col-md-4">
      <div class="jumbotron text-center signup-header">
        <h2>The Community</h2>
      </div>
  
      <!-- Table -->
      <table class="table well text-center">
        
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Conversations</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        
        <tbody>
          <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.conversations.count %> conversations started</td>
                <td>
                  <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                              "data-sid" => current_user.id, "data-rip" => user.id %>
                </td>
              </tr>
          <% end %>
        </tbody>
        
      </table> <!-- End Table -->
    </div> <!-- End Community Table -->
    
  </div>
</div>